[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pycodestyle = "*"
setuptools = "*"
wheel = "*"
twine = "*"
flake8 = "*"

[packages]
scipy = "*"
numpy = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
bokeh = "*"
pint = "*"
numba = "*"

[requires]
python_version = "3.7"
